<div class="container">
  <div class="pub">
    <app-pub></app-pub>
  </div>
  <div class="container_logo_nav">
    <div class="logo">
      <div class="velo">
        <a href="./">
          le<span>vélo</span>
        </a>
      </div>
      <div class="marseille">
        <a href="https://www.ampmetropole.fr/" target="_blank">
          <img src="assets/metropole.png" alt="metropole logo">
        </a>
      </div>
    </div>
    <nav>
      <ul>
        <li>Comment ça marche</li>
        <li>Abonnement & tickets</li>
        <li class="active">Les stations</li>
        <li>Magazine</li>
        <li>Pour votre sécurité</li>
      </ul>
      <div class="lang_search">
        <div class="account"><img src="assets/user.png" alt="compte utilisateur"></div>
        <div class="lang">
          <img src="assets/uk.jpg" alt="english language">
        </div>
        <form class="search">
          <input type="text" name="search" id="search" placeholder="Recherchez dans le site">
        </form>
      </div>
    </nav>
  </div>
</div>
