<div class="container">
  <div class="footer_top">
    <p>
      Contactez-nous :
    </p>
    <p>04 98 75 62 35</p>
    <a href="mailto:levelo@mpm.fr">levelo@mpm.fr</a>
  </div>
  <div class="footer_middle">© Thomas Ranque - aka &nbsp; <a href="https://github.com/Peanuts-83" target="_blank">Peanuts83</a></div>
  <div class="footer_bottom">
    <a routerLink="/map">Mentions légales</a><p class="separator"> |&nbsp;</p>
    <a routerLink="/map">CGU levelo</a><p class="separator"> |&nbsp;</p>
    <a routerLink="/map">RGPD</a><p class="separator"> |&nbsp;</p>
    <a routerLink="/map">Cookie</a><p class="separator"> |&nbsp;</p>
    <a routerLink="/map">Crédits</a><p class="separator"> |&nbsp;</p>
  </div>
</div>
