<div class="container">
  <div class="footer_top">
    <p>
      Contactez-nous :
    </p>
    <p>04 98 75 62 35</p>
    <a href="mailto:levelo@mpm.fr">levelo@mpm.fr</a>
  </div>
  <div class="footer_middle">© Thomas Ranque - aka &nbsp; <a href="https://github.com/Peanuts-83" target="_blank">Peanuts83</a></div>
  <div class="footer_bottom">
    <a href="#">Mentions légales</a>
    <a href="#">CGU levelo</a>
    <a href="#">RGPD</a>
    <a href="#">Cookies</a>
    <a href="#">Crédits</a>
  </div>
</div>
