@import '../../variables';

.container {
  display: flex;
  min-height: 100%;
  align-self: flex-start;
  padding: 50px;
  color: $primaryDark;
  font-size: 1rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: $primaryDark;
}

.subnav {
  width: 50%;
}