@import '../../variables';

.map-container {
  width: 100%;
  height: calc(100vh - 600px);

  .legend {
    position: absolute;
    right: 0;
    margin: 10px 50px;
    z-index: 1000;
  }
}

#map {
  height: 100%;
}

.leaflet-bar a {
  background-color: $greyDark;
}