@import '../../variables';

.map-container {
  width: 100%;
  height: calc(100vh - 600px);

  * {
    transition: all .3s ease-in-out;
  }

  .legend {
    position: absolute;
    right: 0;
    margin: 10px 50px;
    z-index: 1000;
  }
}

#map {
  height: 100%;

  .leaflet-bar {
    background-color: $greyDark;
  }

  .leaflet-control-attribution {
    margin: 20px !important;
  }
}


@media screen and (max-width: 1024px) {
  .map-container {
    height: calc(100vh - 550px);

    .legend {
      margin: 10px 40px;
    }
  }

}

@media screen and (max-width: 768px) {
  .map-container {
    height: calc(100vh - 450px);

    .legend {
      margin: 10px 20px;
    }
  }

}

@media screen and (max-width: 500px) {
  .map-container {
    height: calc(100vh - 250px);

    .legend {
      bottom: 90px;
      margin: 0;
    }
  }
}