// @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Distressed&display=swap');



// COLORS
$primary: #1565C0;
$primaryLight: #1E88E5;
$primaryDark: #053274;
$accent: #AEEA00;
$accentLight: #D4E157;
$accentDark: #7CB342;
$warn: #FFC107;
$warnLight: #FFE082;
$warnDark: #F57F17;
$grey: rgb(80, 80, 80);
$greyDark: rgb(41, 41, 41);
