// @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Distressed&display=swap');



// COLORS
$primary: #122a7d;
$primaryLight: #4360c9;
$primaryDark: #0f2268;
$accent: #AEEA00;
$accentLight: #D4E157;
$accentDark: #7CB342;
$warn: #FFC107;
$warnLight: #FFE082;
$warnDark: #F57F17;
$grey: rgb(80, 80, 80);
$greyDark: rgb(41, 41, 41);
