// @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Distressed&display=swap');



// COLORS
// $primary: #AEEA00;
// $primaryLight: #D4E157;
// $primaryDark: #7CB342;
$primary: #20398a;
$primaryLight: #2a4fc8;
$primaryDark: #102771;
$accent: #FFC107;
$accentLight: #FFE082;
$accentDark: #F57F17;
$warn: #EF6C00;
$warnLight: #FB8C00;
$warnDark: #E65100;
$blue: #20398a;